# URL de la API de tu backend en Django (por defecto localhost:8000/api)
API_BASE_URL=http://127.0.0.1:8000/api

# Tu API Key generada desde la aplicación o el panel de administración
API_KEY=tu_api_key_aqui
